# R project info
.Rproj.user
.Rhistory
.RData

# user-specific info
.Ruserdata
.httr-oauth

# HPC files that shouldn't be committed
Rlib_3_6/
*.out

# scipiper-specific files and folders
*/tmp/*
*/tmp_*/*
!1_fetch/tmp/EMPTY
!2_process/tmp/EMPTY
!3_summarize/tmp/EMPTY
*/out/*
*/out_*/*
.remake
*_tasks.yml
*/status/*

# jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Singularity SIF files
*.sif
