.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth

# scipiper-specific files and folders
*/tmp/*
*/out/*
!*/out/*.ind
.remake
*_tasks.yml

# ignore these for now since this isn't hooked up to a shared cache
*.ind
build/*
