# R project info
.Rproj.user
.Rhistory
.RData

# user-specific info
.Ruserdata
.httr-oauth

# R library on Yeti
Rlib_3_6/

# scipiper-specific files and folders
*/tmp/*
!1_fetch/tmp/EMPTY
!2_process/tmp/EMPTY
!3_summarize/tmp/EMPTY
*/out/*
.remake
*_tasks.yml
*/status/*

# jupyter notebooks
*.ipynb
